body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5201 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:600px;
}
#u5201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:600px;
}
#u5202 {
  position:absolute;
  left:228px;
  top:0px;
  width:773px;
  height:54px;
}
#u5202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:54px;
}
#u5203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:42px;
  background:inherit;
  background-color:rgba(236, 240, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
}
#u5203 {
  position:absolute;
  left:228px;
  top:54px;
  width:773px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
}
#u5204 {
  position:absolute;
  left:2px;
  top:12px;
  width:769px;
  word-wrap:break-word;
}
#u5203_ann {
  position:absolute;
  left:994px;
  top:50px;
  width:1px;
  height:1px;
}
#u5205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:502px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5205 {
  position:absolute;
  left:228px;
  top:96px;
  width:773px;
  height:502px;
}
#u5206 {
  position:absolute;
  left:2px;
  top:243px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5207 {
  position:absolute;
  left:264px;
  top:123px;
  width:719px;
  height:250px;
}
#u5208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u5208 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5209 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u5210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:41px;
}
#u5210 {
  position:absolute;
  left:85px;
  top:0px;
  width:143px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FF0000;
  text-align:right;
}
#u5211 {
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:41px;
}
#u5212 {
  position:absolute;
  left:228px;
  top:0px;
  width:84px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5213 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u5214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:41px;
}
#u5214 {
  position:absolute;
  left:312px;
  top:0px;
  width:164px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FF0000;
  text-align:right;
}
#u5215 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
}
#u5216 {
  position:absolute;
  left:476px;
  top:0px;
  width:77px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5217 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u5218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:41px;
}
#u5218 {
  position:absolute;
  left:553px;
  top:0px;
  width:161px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FF0000;
  text-align:right;
}
#u5219 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:44px;
}
#u5220 {
  position:absolute;
  left:0px;
  top:41px;
  width:85px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5221 {
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u5222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:44px;
}
#u5222 {
  position:absolute;
  left:85px;
  top:41px;
  width:143px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5223 {
  position:absolute;
  left:2px;
  top:14px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:44px;
}
#u5224 {
  position:absolute;
  left:228px;
  top:41px;
  width:84px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5225 {
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u5226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:44px;
}
#u5226 {
  position:absolute;
  left:312px;
  top:41px;
  width:164px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5227 {
  position:absolute;
  left:2px;
  top:14px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:44px;
}
#u5228 {
  position:absolute;
  left:476px;
  top:41px;
  width:77px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5229 {
  position:absolute;
  left:2px;
  top:13px;
  width:73px;
  word-wrap:break-word;
}
#u5230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:44px;
}
#u5230 {
  position:absolute;
  left:553px;
  top:41px;
  width:161px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5231 {
  position:absolute;
  left:2px;
  top:14px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u5232 {
  position:absolute;
  left:0px;
  top:85px;
  width:85px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5233 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u5234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:41px;
}
#u5234 {
  position:absolute;
  left:85px;
  top:85px;
  width:143px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5235 {
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:41px;
}
#u5236 {
  position:absolute;
  left:228px;
  top:85px;
  width:84px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5237 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u5238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:41px;
}
#u5238 {
  position:absolute;
  left:312px;
  top:85px;
  width:164px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5239 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
}
#u5240 {
  position:absolute;
  left:476px;
  top:85px;
  width:77px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5241 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u5242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:41px;
}
#u5242 {
  position:absolute;
  left:553px;
  top:85px;
  width:161px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5243 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
}
#u5244 {
  position:absolute;
  left:0px;
  top:126px;
  width:85px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5245 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  word-wrap:break-word;
}
#u5246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u5246 {
  position:absolute;
  left:85px;
  top:126px;
  width:143px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5247 {
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u5248 {
  position:absolute;
  left:228px;
  top:126px;
  width:84px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5249 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u5250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u5250 {
  position:absolute;
  left:312px;
  top:126px;
  width:164px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5251 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u5252 {
  position:absolute;
  left:476px;
  top:126px;
  width:77px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5253 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  word-wrap:break-word;
}
#u5254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u5254 {
  position:absolute;
  left:553px;
  top:126px;
  width:161px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5255 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u5256 {
  position:absolute;
  left:0px;
  top:166px;
  width:85px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5257 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u5258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:41px;
}
#u5258 {
  position:absolute;
  left:85px;
  top:166px;
  width:143px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5259 {
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:41px;
}
#u5260 {
  position:absolute;
  left:228px;
  top:166px;
  width:84px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5261 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u5262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:41px;
}
#u5262 {
  position:absolute;
  left:312px;
  top:166px;
  width:164px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5263 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
}
#u5264 {
  position:absolute;
  left:476px;
  top:166px;
  width:77px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5265 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u5266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:41px;
}
#u5266 {
  position:absolute;
  left:553px;
  top:166px;
  width:161px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5267 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:38px;
}
#u5268 {
  position:absolute;
  left:0px;
  top:207px;
  width:85px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5269 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u5270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:38px;
}
#u5270 {
  position:absolute;
  left:85px;
  top:207px;
  width:143px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5271 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
}
#u5272 {
  position:absolute;
  left:228px;
  top:207px;
  width:84px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5273 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u5274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:38px;
}
#u5274 {
  position:absolute;
  left:312px;
  top:207px;
  width:164px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5275 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:38px;
}
#u5276 {
  position:absolute;
  left:476px;
  top:207px;
  width:77px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5277 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u5278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:38px;
}
#u5278 {
  position:absolute;
  left:553px;
  top:207px;
  width:161px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5279 {
  position:absolute;
  left:2px;
  top:11px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5280 {
  position:absolute;
  left:358px;
  top:174px;
  width:127px;
  height:22px;
}
#u5280_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5280_input:disabled {
  color:grayText;
}
#u5281 {
  position:absolute;
  left:587px;
  top:174px;
  width:127px;
  height:22px;
}
#u5281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5281_input:disabled {
  color:grayText;
}
#u5282 {
  position:absolute;
  left:829px;
  top:174px;
  width:127px;
  height:22px;
}
#u5282_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5282_input:disabled {
  color:grayText;
}
#u5283 {
  position:absolute;
  left:358px;
  top:218px;
  width:127px;
  height:22px;
}
#u5283_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5283_input:disabled {
  color:grayText;
}
#u5284 {
  position:absolute;
  left:587px;
  top:218px;
  width:127px;
  height:22px;
}
#u5284_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5284_input:disabled {
  color:grayText;
}
#u5285 {
  position:absolute;
  left:829px;
  top:259px;
  width:127px;
  height:22px;
}
#u5285_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5285_input:disabled {
  color:grayText;
}
#u5286 {
  position:absolute;
  left:829px;
  top:218px;
  width:127px;
  height:22px;
}
#u5286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5286_input:disabled {
  color:grayText;
}
#u5287 {
  position:absolute;
  left:358px;
  top:259px;
  width:127px;
  height:22px;
}
#u5287_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5287_input:disabled {
  color:grayText;
}
#u5288 {
  position:absolute;
  left:587px;
  top:259px;
  width:127px;
  height:22px;
}
#u5288_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5288_input:disabled {
  color:grayText;
}
#u5289 {
  position:absolute;
  left:829px;
  top:299px;
  width:127px;
  height:22px;
}
#u5289_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5289_input:disabled {
  color:grayText;
}
#u5290 {
  position:absolute;
  left:587px;
  top:299px;
  width:127px;
  height:22px;
}
#u5290_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5290_input:disabled {
  color:grayText;
}
#u5291 {
  position:absolute;
  left:358px;
  top:299px;
  width:127px;
  height:22px;
}
#u5291_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5291_input:disabled {
  color:grayText;
}
#u5292 {
  position:absolute;
  left:358px;
  top:133px;
  width:127px;
  height:25px;
}
#u5292_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5293 {
  position:absolute;
  left:587px;
  top:133px;
  width:127px;
  height:25px;
}
#u5293_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5294 {
  position:absolute;
  left:829px;
  top:133px;
  width:127px;
  height:25px;
}
#u5294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5295 {
  position:absolute;
  left:358px;
  top:336px;
  width:127px;
  height:25px;
}
#u5295_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5296 {
  position:absolute;
  left:587px;
  top:336px;
  width:127px;
  height:25px;
}
#u5296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5297 {
  position:absolute;
  left:829px;
  top:336px;
  width:127px;
  height:25px;
}
#u5297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5298 {
  position:absolute;
  left:463px;
  top:397px;
  width:85px;
  height:29px;
}
#u5299 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u5298_ann {
  position:absolute;
  left:541px;
  top:393px;
  width:1px;
  height:1px;
}
#u5300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5300 {
  position:absolute;
  left:579px;
  top:397px;
  width:85px;
  height:29px;
}
#u5301 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u5302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5302 {
  position:absolute;
  left:692px;
  top:397px;
  width:85px;
  height:29px;
}
#u5303 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
