body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:363px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5092 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:79px;
}
#u5093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u5093 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5093_img.mouseOver {
}
#u5093.mouseOver {
}
#u5093_img.mouseDown {
}
#u5093.mouseDown {
}
#u5094 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u5095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u5095 {
  position:absolute;
  left:121px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5095_img.mouseOver {
}
#u5095.mouseOver {
}
#u5095_img.mouseDown {
}
#u5095.mouseDown {
}
#u5096 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u5097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u5097 {
  position:absolute;
  left:242px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5097_img.mouseOver {
}
#u5097.mouseOver {
}
#u5097_img.mouseDown {
}
#u5097.mouseDown {
}
#u5098 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u5099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:44px;
}
#u5099 {
  position:absolute;
  left:0px;
  top:30px;
  width:121px;
  height:44px;
}
#u5099_img.mouseOver {
}
#u5099.mouseOver {
}
#u5099_img.mouseDown {
}
#u5099.mouseDown {
}
#u5100 {
  position:absolute;
  left:2px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u5101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:44px;
}
#u5101 {
  position:absolute;
  left:121px;
  top:30px;
  width:121px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5101_img.mouseOver {
}
#u5101.mouseOver {
}
#u5101_img.mouseDown {
}
#u5101.mouseDown {
}
#u5102 {
  position:absolute;
  left:2px;
  top:13px;
  width:117px;
  word-wrap:break-word;
}
#u5103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:44px;
}
#u5103 {
  position:absolute;
  left:242px;
  top:30px;
  width:121px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5103_img.mouseOver {
}
#u5103.mouseOver {
}
#u5103_img.mouseDown {
}
#u5103.mouseDown {
}
#u5104 {
  position:absolute;
  left:2px;
  top:14px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5105 {
  position:absolute;
  left:261px;
  top:37px;
  width:83px;
  height:29px;
}
#u5106 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u5105_ann {
  position:absolute;
  left:337px;
  top:33px;
  width:1px;
  height:1px;
}
#u5107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5107 {
  position:absolute;
  left:131px;
  top:84px;
  width:83px;
  height:29px;
}
#u5108 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
