body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1243px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4910 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:600px;
}
#u4910_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:600px;
}
#u4911 {
  position:absolute;
  left:228px;
  top:0px;
  width:773px;
  height:54px;
}
#u4911_input {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:54px;
}
#u4912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:42px;
  background:inherit;
  background-color:rgba(236, 240, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
}
#u4912 {
  position:absolute;
  left:228px;
  top:54px;
  width:773px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
}
#u4913 {
  position:absolute;
  left:2px;
  top:12px;
  width:769px;
  word-wrap:break-word;
}
#u4912_ann {
  position:absolute;
  left:994px;
  top:50px;
  width:1px;
  height:1px;
}
#u4914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:532px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4914 {
  position:absolute;
  left:228px;
  top:96px;
  width:773px;
  height:532px;
}
#u4915 {
  position:absolute;
  left:2px;
  top:258px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4916 {
  position:absolute;
  left:245px;
  top:167px;
  width:1003px;
  height:401px;
}
#u4917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:68px;
}
#u4917 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:68px;
  color:#FFFFFF;
}
#u4918 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  word-wrap:break-word;
}
#u4919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:68px;
}
#u4919 {
  position:absolute;
  left:83px;
  top:0px;
  width:60px;
  height:68px;
  color:#FFFFFF;
}
#u4920 {
  position:absolute;
  left:2px;
  top:26px;
  width:56px;
  word-wrap:break-word;
}
#u4921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:68px;
}
#u4921 {
  position:absolute;
  left:143px;
  top:0px;
  width:56px;
  height:68px;
  color:#FFFFFF;
}
#u4922 {
  position:absolute;
  left:2px;
  top:26px;
  width:52px;
  word-wrap:break-word;
}
#u4923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:68px;
}
#u4923 {
  position:absolute;
  left:199px;
  top:0px;
  width:38px;
  height:68px;
  color:#FFFFFF;
}
#u4924 {
  position:absolute;
  left:2px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
#u4925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:68px;
}
#u4925 {
  position:absolute;
  left:237px;
  top:0px;
  width:77px;
  height:68px;
  color:#FFFFFF;
}
#u4926 {
  position:absolute;
  left:2px;
  top:26px;
  width:73px;
  word-wrap:break-word;
}
#u4927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:68px;
}
#u4927 {
  position:absolute;
  left:314px;
  top:0px;
  width:83px;
  height:68px;
  color:#FFFFFF;
}
#u4928 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  word-wrap:break-word;
}
#u4929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:68px;
}
#u4929 {
  position:absolute;
  left:397px;
  top:0px;
  width:72px;
  height:68px;
  color:#FFFFFF;
}
#u4930 {
  position:absolute;
  left:2px;
  top:26px;
  width:68px;
  word-wrap:break-word;
}
#u4931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u4931 {
  position:absolute;
  left:469px;
  top:0px;
  width:68px;
  height:68px;
  color:#FFFFFF;
}
#u4932 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u4933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:68px;
}
#u4933 {
  position:absolute;
  left:537px;
  top:0px;
  width:154px;
  height:68px;
  color:#FFFFFF;
}
#u4934 {
  position:absolute;
  left:2px;
  top:26px;
  width:150px;
  word-wrap:break-word;
}
#u4935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:68px;
}
#u4935 {
  position:absolute;
  left:691px;
  top:0px;
  width:140px;
  height:68px;
  color:#FFFFFF;
}
#u4936 {
  position:absolute;
  left:2px;
  top:26px;
  width:136px;
  word-wrap:break-word;
}
#u4937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:68px;
}
#u4937 {
  position:absolute;
  left:831px;
  top:0px;
  width:83px;
  height:68px;
  color:#FFFFFF;
}
#u4938 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  word-wrap:break-word;
}
#u4939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:68px;
}
#u4939 {
  position:absolute;
  left:914px;
  top:0px;
  width:84px;
  height:68px;
  color:#FFFFFF;
}
#u4940 {
  position:absolute;
  left:2px;
  top:26px;
  width:80px;
  word-wrap:break-word;
}
#u4941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u4941 {
  position:absolute;
  left:0px;
  top:68px;
  width:83px;
  height:52px;
}
#u4942 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u4943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u4943 {
  position:absolute;
  left:83px;
  top:68px;
  width:60px;
  height:52px;
}
#u4944 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u4945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u4945 {
  position:absolute;
  left:143px;
  top:68px;
  width:56px;
  height:52px;
}
#u4946 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u4947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u4947 {
  position:absolute;
  left:199px;
  top:68px;
  width:38px;
  height:52px;
}
#u4948 {
  position:absolute;
  left:2px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
#u4949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:52px;
}
#u4949 {
  position:absolute;
  left:237px;
  top:68px;
  width:77px;
  height:52px;
}
#u4950 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  word-wrap:break-word;
}
#u4951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u4951 {
  position:absolute;
  left:314px;
  top:68px;
  width:83px;
  height:52px;
}
#u4952 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u4953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:52px;
}
#u4953 {
  position:absolute;
  left:397px;
  top:68px;
  width:72px;
  height:52px;
}
#u4954 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u4955 {
  position:absolute;
  left:469px;
  top:68px;
  width:68px;
  height:52px;
}
#u4956 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:52px;
}
#u4957 {
  position:absolute;
  left:537px;
  top:68px;
  width:154px;
  height:52px;
}
#u4958 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u4959 {
  position:absolute;
  left:691px;
  top:68px;
  width:140px;
  height:52px;
}
#u4960 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u4961 {
  position:absolute;
  left:831px;
  top:68px;
  width:83px;
  height:52px;
}
#u4962 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u4963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:52px;
}
#u4963 {
  position:absolute;
  left:914px;
  top:68px;
  width:84px;
  height:52px;
}
#u4964 {
  position:absolute;
  left:2px;
  top:18px;
  width:80px;
  word-wrap:break-word;
}
#u4963_ann {
  position:absolute;
  left:984px;
  top:68px;
  width:1px;
  height:1px;
}
#u4965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:68px;
}
#u4965 {
  position:absolute;
  left:0px;
  top:120px;
  width:83px;
  height:68px;
}
#u4966 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  word-wrap:break-word;
}
#u4967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:68px;
}
#u4967 {
  position:absolute;
  left:83px;
  top:120px;
  width:60px;
  height:68px;
}
#u4968 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u4969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:68px;
}
#u4969 {
  position:absolute;
  left:143px;
  top:120px;
  width:56px;
  height:68px;
}
#u4970 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u4971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:68px;
}
#u4971 {
  position:absolute;
  left:199px;
  top:120px;
  width:38px;
  height:68px;
}
#u4972 {
  position:absolute;
  left:2px;
  top:26px;
  width:34px;
  word-wrap:break-word;
}
#u4973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:68px;
}
#u4973 {
  position:absolute;
  left:237px;
  top:120px;
  width:77px;
  height:68px;
}
#u4974 {
  position:absolute;
  left:2px;
  top:26px;
  width:73px;
  word-wrap:break-word;
}
#u4975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:68px;
}
#u4975 {
  position:absolute;
  left:314px;
  top:120px;
  width:83px;
  height:68px;
}
#u4976 {
  position:absolute;
  left:2px;
  top:26px;
  width:79px;
  word-wrap:break-word;
}
#u4977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:68px;
}
#u4977 {
  position:absolute;
  left:397px;
  top:120px;
  width:72px;
  height:68px;
}
#u4978 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u4979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u4979 {
  position:absolute;
  left:469px;
  top:120px;
  width:68px;
  height:68px;
}
#u4980 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u4981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:68px;
}
#u4981 {
  position:absolute;
  left:537px;
  top:120px;
  width:154px;
  height:68px;
}
#u4982 {
  position:absolute;
  left:2px;
  top:26px;
  width:150px;
  word-wrap:break-word;
}
#u4983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:68px;
}
#u4983 {
  position:absolute;
  left:691px;
  top:120px;
  width:140px;
  height:68px;
}
#u4984 {
  position:absolute;
  left:2px;
  top:26px;
  width:136px;
  word-wrap:break-word;
}
#u4985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:68px;
}
#u4985 {
  position:absolute;
  left:831px;
  top:120px;
  width:83px;
  height:68px;
}
#u4986 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u4987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:68px;
}
#u4987 {
  position:absolute;
  left:914px;
  top:120px;
  width:84px;
  height:68px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:26px;
  width:80px;
  word-wrap:break-word;
}
#u4989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u4989 {
  position:absolute;
  left:0px;
  top:188px;
  width:83px;
  height:52px;
}
#u4990 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u4991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u4991 {
  position:absolute;
  left:83px;
  top:188px;
  width:60px;
  height:52px;
}
#u4992 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u4993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u4993 {
  position:absolute;
  left:143px;
  top:188px;
  width:56px;
  height:52px;
}
#u4994 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u4995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u4995 {
  position:absolute;
  left:199px;
  top:188px;
  width:38px;
  height:52px;
}
#u4996 {
  position:absolute;
  left:2px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
#u4997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:52px;
}
#u4997 {
  position:absolute;
  left:237px;
  top:188px;
  width:77px;
  height:52px;
}
#u4998 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  word-wrap:break-word;
}
#u4999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u4999 {
  position:absolute;
  left:314px;
  top:188px;
  width:83px;
  height:52px;
}
#u5000 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u5001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:52px;
}
#u5001 {
  position:absolute;
  left:397px;
  top:188px;
  width:72px;
  height:52px;
}
#u5002 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u5003 {
  position:absolute;
  left:469px;
  top:188px;
  width:68px;
  height:52px;
}
#u5004 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:52px;
}
#u5005 {
  position:absolute;
  left:537px;
  top:188px;
  width:154px;
  height:52px;
}
#u5006 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u5007 {
  position:absolute;
  left:691px;
  top:188px;
  width:140px;
  height:52px;
}
#u5008 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u5009 {
  position:absolute;
  left:831px;
  top:188px;
  width:83px;
  height:52px;
}
#u5010 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u5011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:52px;
}
#u5011 {
  position:absolute;
  left:914px;
  top:188px;
  width:84px;
  height:52px;
}
#u5012 {
  position:absolute;
  left:2px;
  top:18px;
  width:80px;
  word-wrap:break-word;
}
#u5013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u5013 {
  position:absolute;
  left:0px;
  top:240px;
  width:83px;
  height:52px;
}
#u5014 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u5015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u5015 {
  position:absolute;
  left:83px;
  top:240px;
  width:60px;
  height:52px;
}
#u5016 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u5017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u5017 {
  position:absolute;
  left:143px;
  top:240px;
  width:56px;
  height:52px;
}
#u5018 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u5019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u5019 {
  position:absolute;
  left:199px;
  top:240px;
  width:38px;
  height:52px;
}
#u5020 {
  position:absolute;
  left:2px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
#u5021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:52px;
}
#u5021 {
  position:absolute;
  left:237px;
  top:240px;
  width:77px;
  height:52px;
}
#u5022 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  word-wrap:break-word;
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u5023 {
  position:absolute;
  left:314px;
  top:240px;
  width:83px;
  height:52px;
}
#u5024 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u5025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:52px;
}
#u5025 {
  position:absolute;
  left:397px;
  top:240px;
  width:72px;
  height:52px;
}
#u5026 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u5027 {
  position:absolute;
  left:469px;
  top:240px;
  width:68px;
  height:52px;
}
#u5028 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:52px;
}
#u5029 {
  position:absolute;
  left:537px;
  top:240px;
  width:154px;
  height:52px;
}
#u5030 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u5031 {
  position:absolute;
  left:691px;
  top:240px;
  width:140px;
  height:52px;
}
#u5032 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u5033 {
  position:absolute;
  left:831px;
  top:240px;
  width:83px;
  height:52px;
}
#u5034 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u5035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:52px;
}
#u5035 {
  position:absolute;
  left:914px;
  top:240px;
  width:84px;
  height:52px;
}
#u5036 {
  position:absolute;
  left:2px;
  top:18px;
  width:80px;
  word-wrap:break-word;
}
#u5037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u5037 {
  position:absolute;
  left:0px;
  top:292px;
  width:83px;
  height:52px;
}
#u5038 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u5039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u5039 {
  position:absolute;
  left:83px;
  top:292px;
  width:60px;
  height:52px;
}
#u5040 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u5041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u5041 {
  position:absolute;
  left:143px;
  top:292px;
  width:56px;
  height:52px;
}
#u5042 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u5043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u5043 {
  position:absolute;
  left:199px;
  top:292px;
  width:38px;
  height:52px;
}
#u5044 {
  position:absolute;
  left:2px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
#u5045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:52px;
}
#u5045 {
  position:absolute;
  left:237px;
  top:292px;
  width:77px;
  height:52px;
}
#u5046 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  word-wrap:break-word;
}
#u5047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u5047 {
  position:absolute;
  left:314px;
  top:292px;
  width:83px;
  height:52px;
}
#u5048 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u5049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:52px;
}
#u5049 {
  position:absolute;
  left:397px;
  top:292px;
  width:72px;
  height:52px;
}
#u5050 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u5051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u5051 {
  position:absolute;
  left:469px;
  top:292px;
  width:68px;
  height:52px;
}
#u5052 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u5053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:52px;
}
#u5053 {
  position:absolute;
  left:537px;
  top:292px;
  width:154px;
  height:52px;
}
#u5054 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  word-wrap:break-word;
}
#u5055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u5055 {
  position:absolute;
  left:691px;
  top:292px;
  width:140px;
  height:52px;
}
#u5056 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u5057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u5057 {
  position:absolute;
  left:831px;
  top:292px;
  width:83px;
  height:52px;
}
#u5058 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u5059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:52px;
}
#u5059 {
  position:absolute;
  left:914px;
  top:292px;
  width:84px;
  height:52px;
}
#u5060 {
  position:absolute;
  left:2px;
  top:18px;
  width:80px;
  word-wrap:break-word;
}
#u5061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u5061 {
  position:absolute;
  left:0px;
  top:344px;
  width:83px;
  height:52px;
}
#u5062 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u5063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u5063 {
  position:absolute;
  left:83px;
  top:344px;
  width:60px;
  height:52px;
}
#u5064 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u5065 {
  position:absolute;
  left:143px;
  top:344px;
  width:56px;
  height:52px;
}
#u5066 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u5067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u5067 {
  position:absolute;
  left:199px;
  top:344px;
  width:38px;
  height:52px;
}
#u5068 {
  position:absolute;
  left:2px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
#u5069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:52px;
}
#u5069 {
  position:absolute;
  left:237px;
  top:344px;
  width:77px;
  height:52px;
}
#u5070 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  word-wrap:break-word;
}
#u5071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u5071 {
  position:absolute;
  left:314px;
  top:344px;
  width:83px;
  height:52px;
}
#u5072 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u5073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:52px;
}
#u5073 {
  position:absolute;
  left:397px;
  top:344px;
  width:72px;
  height:52px;
}
#u5074 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u5075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u5075 {
  position:absolute;
  left:469px;
  top:344px;
  width:68px;
  height:52px;
}
#u5076 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u5077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:52px;
}
#u5077 {
  position:absolute;
  left:537px;
  top:344px;
  width:154px;
  height:52px;
}
#u5078 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  word-wrap:break-word;
}
#u5079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u5079 {
  position:absolute;
  left:691px;
  top:344px;
  width:140px;
  height:52px;
}
#u5080 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u5081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u5081 {
  position:absolute;
  left:831px;
  top:344px;
  width:83px;
  height:52px;
}
#u5082 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u5083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:52px;
}
#u5083 {
  position:absolute;
  left:914px;
  top:344px;
  width:84px;
  height:52px;
}
#u5084 {
  position:absolute;
  left:2px;
  top:18px;
  width:80px;
  word-wrap:break-word;
}
#u5085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5085 {
  position:absolute;
  left:497px;
  top:580px;
  width:92px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5086 {
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u5085_ann {
  position:absolute;
  left:582px;
  top:576px;
  width:1px;
  height:1px;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5087 {
  position:absolute;
  left:619px;
  top:580px;
  width:63px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5088 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u5089 {
  position:absolute;
  left:350px;
  top:334px;
  width:500px;
  height:200px;
}
#u5089_input {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:200px;
}
#u5090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:59px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5090 {
  position:absolute;
  left:245px;
  top:98px;
  width:312px;
  height:59px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5091 {
  position:absolute;
  left:2px;
  top:16px;
  width:308px;
  word-wrap:break-word;
}
