body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:363px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4694 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:79px;
}
#u4695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u4695 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4695_img.mouseOver {
}
#u4695.mouseOver {
}
#u4695_img.mouseDown {
}
#u4695.mouseDown {
}
#u4696 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u4697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u4697 {
  position:absolute;
  left:121px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4697_img.mouseOver {
}
#u4697.mouseOver {
}
#u4697_img.mouseDown {
}
#u4697.mouseDown {
}
#u4698 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u4699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u4699 {
  position:absolute;
  left:242px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4699_img.mouseOver {
}
#u4699.mouseOver {
}
#u4699_img.mouseDown {
}
#u4699.mouseDown {
}
#u4700 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u4701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:44px;
}
#u4701 {
  position:absolute;
  left:0px;
  top:30px;
  width:121px;
  height:44px;
}
#u4701_img.mouseOver {
}
#u4701.mouseOver {
}
#u4701_img.mouseDown {
}
#u4701.mouseDown {
}
#u4702 {
  position:absolute;
  left:2px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u4703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:44px;
}
#u4703 {
  position:absolute;
  left:121px;
  top:30px;
  width:121px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4703_img.mouseOver {
}
#u4703.mouseOver {
}
#u4703_img.mouseDown {
}
#u4703.mouseDown {
}
#u4704 {
  position:absolute;
  left:2px;
  top:13px;
  width:117px;
  word-wrap:break-word;
}
#u4705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:44px;
}
#u4705 {
  position:absolute;
  left:242px;
  top:30px;
  width:121px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4705_img.mouseOver {
}
#u4705.mouseOver {
}
#u4705_img.mouseDown {
}
#u4705.mouseDown {
}
#u4706 {
  position:absolute;
  left:2px;
  top:14px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4707 {
  position:absolute;
  left:261px;
  top:37px;
  width:83px;
  height:29px;
}
#u4708 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u4707_ann {
  position:absolute;
  left:337px;
  top:33px;
  width:1px;
  height:1px;
}
#u4709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4709 {
  position:absolute;
  left:131px;
  top:84px;
  width:83px;
  height:29px;
}
#u4710 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
