body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:600px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:600px;
}
#u1 {
  position:absolute;
  left:228px;
  top:0px;
  width:773px;
  height:54px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:54px;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:42px;
  background:inherit;
  background-color:rgba(236, 240, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
}
#u2 {
  position:absolute;
  left:228px;
  top:54px;
  width:773px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:769px;
  word-wrap:break-word;
}
#u2_ann {
  position:absolute;
  left:994px;
  top:50px;
  width:1px;
  height:1px;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:502px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:228px;
  top:96px;
  width:773px;
  height:502px;
}
#u5 {
  position:absolute;
  left:2px;
  top:243px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:265px;
  top:175px;
  width:710px;
  height:220px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u9 {
  position:absolute;
  left:101px;
  top:0px;
  width:101px;
  height:30px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u11 {
  position:absolute;
  left:202px;
  top:0px;
  width:101px;
  height:30px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:303px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u15 {
  position:absolute;
  left:403px;
  top:0px;
  width:101px;
  height:30px;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u17 {
  position:absolute;
  left:504px;
  top:0px;
  width:101px;
  height:30px;
  color:#FFFFFF;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19 {
  position:absolute;
  left:605px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u21 {
  position:absolute;
  left:0px;
  top:30px;
  width:101px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u23 {
  position:absolute;
  left:101px;
  top:30px;
  width:101px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u25 {
  position:absolute;
  left:202px;
  top:30px;
  width:101px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u27 {
  position:absolute;
  left:303px;
  top:30px;
  width:100px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u29 {
  position:absolute;
  left:403px;
  top:30px;
  width:101px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u31 {
  position:absolute;
  left:504px;
  top:30px;
  width:101px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u33 {
  position:absolute;
  left:605px;
  top:30px;
  width:100px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u35 {
  position:absolute;
  left:0px;
  top:60px;
  width:101px;
  height:31px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u37 {
  position:absolute;
  left:101px;
  top:60px;
  width:101px;
  height:31px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u39 {
  position:absolute;
  left:202px;
  top:60px;
  width:101px;
  height:31px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u41 {
  position:absolute;
  left:303px;
  top:60px;
  width:100px;
  height:31px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u43 {
  position:absolute;
  left:403px;
  top:60px;
  width:101px;
  height:31px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u45 {
  position:absolute;
  left:504px;
  top:60px;
  width:101px;
  height:31px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u47 {
  position:absolute;
  left:605px;
  top:60px;
  width:100px;
  height:31px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u49 {
  position:absolute;
  left:0px;
  top:91px;
  width:101px;
  height:31px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u51 {
  position:absolute;
  left:101px;
  top:91px;
  width:101px;
  height:31px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u53 {
  position:absolute;
  left:202px;
  top:91px;
  width:101px;
  height:31px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u55 {
  position:absolute;
  left:303px;
  top:91px;
  width:100px;
  height:31px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u57 {
  position:absolute;
  left:403px;
  top:91px;
  width:101px;
  height:31px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u59 {
  position:absolute;
  left:504px;
  top:91px;
  width:101px;
  height:31px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u61 {
  position:absolute;
  left:605px;
  top:91px;
  width:100px;
  height:31px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u63 {
  position:absolute;
  left:0px;
  top:122px;
  width:101px;
  height:31px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u65 {
  position:absolute;
  left:101px;
  top:122px;
  width:101px;
  height:31px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u67 {
  position:absolute;
  left:202px;
  top:122px;
  width:101px;
  height:31px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u69 {
  position:absolute;
  left:303px;
  top:122px;
  width:100px;
  height:31px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u71 {
  position:absolute;
  left:403px;
  top:122px;
  width:101px;
  height:31px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u73 {
  position:absolute;
  left:504px;
  top:122px;
  width:101px;
  height:31px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u75 {
  position:absolute;
  left:605px;
  top:122px;
  width:100px;
  height:31px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u77 {
  position:absolute;
  left:0px;
  top:153px;
  width:101px;
  height:31px;
}
#u78 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u79 {
  position:absolute;
  left:101px;
  top:153px;
  width:101px;
  height:31px;
}
#u80 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u81 {
  position:absolute;
  left:202px;
  top:153px;
  width:101px;
  height:31px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u83 {
  position:absolute;
  left:303px;
  top:153px;
  width:100px;
  height:31px;
}
#u84 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u85 {
  position:absolute;
  left:403px;
  top:153px;
  width:101px;
  height:31px;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u87 {
  position:absolute;
  left:504px;
  top:153px;
  width:101px;
  height:31px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u89 {
  position:absolute;
  left:605px;
  top:153px;
  width:100px;
  height:31px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u91 {
  position:absolute;
  left:0px;
  top:184px;
  width:101px;
  height:31px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u93 {
  position:absolute;
  left:101px;
  top:184px;
  width:101px;
  height:31px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u95 {
  position:absolute;
  left:202px;
  top:184px;
  width:101px;
  height:31px;
}
#u96 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u97 {
  position:absolute;
  left:303px;
  top:184px;
  width:100px;
  height:31px;
}
#u98 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u99 {
  position:absolute;
  left:403px;
  top:184px;
  width:101px;
  height:31px;
}
#u100 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u101 {
  position:absolute;
  left:504px;
  top:184px;
  width:101px;
  height:31px;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u103 {
  position:absolute;
  left:605px;
  top:184px;
  width:100px;
  height:31px;
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u105 {
  position:absolute;
  left:674px;
  top:133px;
  width:63px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u106 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u107 {
  position:absolute;
  left:833px;
  top:133px;
  width:63px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u108 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u109 {
  position:absolute;
  left:755px;
  top:133px;
  width:63px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u110 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:307px;
  top:214px;
  width:17px;
  height:16px;
}
#u112 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u113 {
  position:absolute;
  left:307px;
  top:243px;
  width:17px;
  height:16px;
}
#u114 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u115 {
  position:absolute;
  left:307px;
  top:275px;
  width:17px;
  height:16px;
}
#u116 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u117 {
  position:absolute;
  left:307px;
  top:305px;
  width:17px;
  height:16px;
}
#u118 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u119 {
  position:absolute;
  left:307px;
  top:337px;
  width:17px;
  height:16px;
}
#u120 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u121 {
  position:absolute;
  left:307px;
  top:367px;
  width:17px;
  height:16px;
}
#u122 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u123 {
  position:absolute;
  left:343px;
  top:133px;
  width:92px;
  height:27px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u124 {
  position:absolute;
  left:265px;
  top:132px;
  width:63px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u125 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:445px;
  top:136px;
  width:37px;
  height:22px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u126_input:disabled {
  color:grayText;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:492px;
  top:139px;
  width:15px;
  height:17px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:621px;
  top:136px;
  width:37px;
  height:22px;
}
#u129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u129_input:disabled {
  color:grayText;
}
#u130 {
  position:absolute;
  left:517px;
  top:133px;
  width:92px;
  height:27px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u131 {
  position:absolute;
  left:390px;
  top:160px;
  width:500px;
  height:200px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:200px;
}
