body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3604 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:600px;
}
#u3604_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:600px;
}
#u3605 {
  position:absolute;
  left:228px;
  top:0px;
  width:773px;
  height:54px;
}
#u3605_input {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:54px;
}
#u3606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:42px;
  background:inherit;
  background-color:rgba(236, 240, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
}
#u3606 {
  position:absolute;
  left:228px;
  top:54px;
  width:773px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
}
#u3607 {
  position:absolute;
  left:2px;
  top:12px;
  width:769px;
  word-wrap:break-word;
}
#u3606_ann {
  position:absolute;
  left:994px;
  top:50px;
  width:1px;
  height:1px;
}
#u3608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:502px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3608 {
  position:absolute;
  left:228px;
  top:96px;
  width:773px;
  height:502px;
}
#u3609 {
  position:absolute;
  left:2px;
  top:243px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3610 {
  position:absolute;
  left:240px;
  top:205px;
  width:733px;
  height:152px;
}
#u3611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u3611 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3612 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u3613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u3613 {
  position:absolute;
  left:160px;
  top:0px;
  width:167px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3614 {
  position:absolute;
  left:2px;
  top:6px;
  width:163px;
  word-wrap:break-word;
}
#u3615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u3615 {
  position:absolute;
  left:327px;
  top:0px;
  width:218px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3616 {
  position:absolute;
  left:2px;
  top:6px;
  width:214px;
  word-wrap:break-word;
}
#u3617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u3617 {
  position:absolute;
  left:545px;
  top:0px;
  width:183px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3618 {
  position:absolute;
  left:2px;
  top:6px;
  width:179px;
  word-wrap:break-word;
}
#u3619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:39px;
}
#u3619 {
  position:absolute;
  left:0px;
  top:30px;
  width:160px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3620 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u3621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:39px;
}
#u3621 {
  position:absolute;
  left:160px;
  top:30px;
  width:167px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3622 {
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u3623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:39px;
}
#u3623 {
  position:absolute;
  left:327px;
  top:30px;
  width:218px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3624 {
  position:absolute;
  left:2px;
  top:10px;
  width:214px;
  word-wrap:break-word;
}
#u3625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u3625 {
  position:absolute;
  left:545px;
  top:30px;
  width:183px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3626 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u3627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:39px;
}
#u3627 {
  position:absolute;
  left:0px;
  top:69px;
  width:160px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3628 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u3629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:39px;
}
#u3629 {
  position:absolute;
  left:160px;
  top:69px;
  width:167px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3630 {
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u3631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:39px;
}
#u3631 {
  position:absolute;
  left:327px;
  top:69px;
  width:218px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3632 {
  position:absolute;
  left:2px;
  top:10px;
  width:214px;
  word-wrap:break-word;
}
#u3633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u3633 {
  position:absolute;
  left:545px;
  top:69px;
  width:183px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3634 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u3635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:39px;
}
#u3635 {
  position:absolute;
  left:0px;
  top:108px;
  width:160px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3636 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u3637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:39px;
}
#u3637 {
  position:absolute;
  left:160px;
  top:108px;
  width:167px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3638 {
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u3639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:39px;
}
#u3639 {
  position:absolute;
  left:327px;
  top:108px;
  width:218px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3640 {
  position:absolute;
  left:2px;
  top:10px;
  width:214px;
  word-wrap:break-word;
}
#u3641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u3641 {
  position:absolute;
  left:545px;
  top:108px;
  width:183px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3642 {
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u3643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:59px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3643 {
  position:absolute;
  left:265px;
  top:116px;
  width:312px;
  height:59px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3644 {
  position:absolute;
  left:2px;
  top:16px;
  width:308px;
  word-wrap:break-word;
}
#u3645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:59px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3645 {
  position:absolute;
  left:606px;
  top:116px;
  width:312px;
  height:59px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3646 {
  position:absolute;
  left:2px;
  top:16px;
  width:308px;
  word-wrap:break-word;
}
