body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:600px;
}
#u1238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:600px;
}
#u1239 {
  position:absolute;
  left:228px;
  top:0px;
  width:773px;
  height:54px;
}
#u1239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:54px;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:42px;
  background:inherit;
  background-color:rgba(236, 240, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
}
#u1240 {
  position:absolute;
  left:228px;
  top:54px;
  width:773px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#777777;
  text-align:left;
}
#u1241 {
  position:absolute;
  left:2px;
  top:12px;
  width:769px;
  word-wrap:break-word;
}
#u1240_ann {
  position:absolute;
  left:994px;
  top:50px;
  width:1px;
  height:1px;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:502px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1242 {
  position:absolute;
  left:228px;
  top:96px;
  width:773px;
  height:502px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:243px;
  width:769px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244 {
  position:absolute;
  left:245px;
  top:106px;
  width:748px;
  height:401px;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:68px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:68px;
  color:#FFFFFF;
}
#u1246 {
  position:absolute;
  left:2px;
  top:26px;
  width:56px;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:68px;
}
#u1247 {
  position:absolute;
  left:60px;
  top:0px;
  width:56px;
  height:68px;
  color:#FFFFFF;
}
#u1248 {
  position:absolute;
  left:2px;
  top:26px;
  width:52px;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:68px;
}
#u1249 {
  position:absolute;
  left:116px;
  top:0px;
  width:38px;
  height:68px;
  color:#FFFFFF;
}
#u1250 {
  position:absolute;
  left:2px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:68px;
}
#u1251 {
  position:absolute;
  left:154px;
  top:0px;
  width:38px;
  height:68px;
  color:#FFFFFF;
}
#u1252 {
  position:absolute;
  left:2px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:68px;
}
#u1253 {
  position:absolute;
  left:192px;
  top:0px;
  width:77px;
  height:68px;
  color:#FFFFFF;
}
#u1254 {
  position:absolute;
  left:2px;
  top:26px;
  width:73px;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:68px;
}
#u1255 {
  position:absolute;
  left:269px;
  top:0px;
  width:72px;
  height:68px;
  color:#FFFFFF;
}
#u1256 {
  position:absolute;
  left:2px;
  top:26px;
  width:68px;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u1257 {
  position:absolute;
  left:341px;
  top:0px;
  width:68px;
  height:68px;
  color:#FFFFFF;
}
#u1258 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:68px;
}
#u1259 {
  position:absolute;
  left:409px;
  top:0px;
  width:154px;
  height:68px;
  color:#FFFFFF;
}
#u1260 {
  position:absolute;
  left:2px;
  top:26px;
  width:150px;
  word-wrap:break-word;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:68px;
}
#u1261 {
  position:absolute;
  left:563px;
  top:0px;
  width:140px;
  height:68px;
  color:#FFFFFF;
}
#u1262 {
  position:absolute;
  left:2px;
  top:26px;
  width:136px;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:68px;
}
#u1263 {
  position:absolute;
  left:703px;
  top:0px;
  width:40px;
  height:68px;
  color:#FFFFFF;
}
#u1264 {
  position:absolute;
  left:2px;
  top:18px;
  width:36px;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u1265 {
  position:absolute;
  left:0px;
  top:68px;
  width:60px;
  height:52px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u1267 {
  position:absolute;
  left:60px;
  top:68px;
  width:56px;
  height:52px;
}
#u1268 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u1269 {
  position:absolute;
  left:116px;
  top:68px;
  width:38px;
  height:52px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u1271 {
  position:absolute;
  left:154px;
  top:68px;
  width:38px;
  height:52px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:52px;
}
#u1273 {
  position:absolute;
  left:192px;
  top:68px;
  width:77px;
  height:52px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:52px;
}
#u1275 {
  position:absolute;
  left:269px;
  top:68px;
  width:72px;
  height:52px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u1277 {
  position:absolute;
  left:341px;
  top:68px;
  width:68px;
  height:52px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:52px;
}
#u1279 {
  position:absolute;
  left:409px;
  top:68px;
  width:154px;
  height:52px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u1281 {
  position:absolute;
  left:563px;
  top:68px;
  width:140px;
  height:52px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:52px;
}
#u1283 {
  position:absolute;
  left:703px;
  top:68px;
  width:40px;
  height:52px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:18px;
  width:36px;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:68px;
}
#u1285 {
  position:absolute;
  left:0px;
  top:120px;
  width:60px;
  height:68px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:68px;
}
#u1287 {
  position:absolute;
  left:60px;
  top:120px;
  width:56px;
  height:68px;
}
#u1288 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:68px;
}
#u1289 {
  position:absolute;
  left:116px;
  top:120px;
  width:38px;
  height:68px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:26px;
  width:34px;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:68px;
}
#u1291 {
  position:absolute;
  left:154px;
  top:120px;
  width:38px;
  height:68px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:68px;
}
#u1293 {
  position:absolute;
  left:192px;
  top:120px;
  width:77px;
  height:68px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:26px;
  width:73px;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:68px;
}
#u1295 {
  position:absolute;
  left:269px;
  top:120px;
  width:72px;
  height:68px;
}
#u1296 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u1297 {
  position:absolute;
  left:341px;
  top:120px;
  width:68px;
  height:68px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:68px;
}
#u1299 {
  position:absolute;
  left:409px;
  top:120px;
  width:154px;
  height:68px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:26px;
  width:150px;
  word-wrap:break-word;
}
#u1301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:68px;
}
#u1301 {
  position:absolute;
  left:563px;
  top:120px;
  width:140px;
  height:68px;
}
#u1302 {
  position:absolute;
  left:2px;
  top:26px;
  width:136px;
  word-wrap:break-word;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:68px;
}
#u1303 {
  position:absolute;
  left:703px;
  top:120px;
  width:40px;
  height:68px;
}
#u1304 {
  position:absolute;
  left:2px;
  top:26px;
  width:36px;
  word-wrap:break-word;
}
#u1305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u1305 {
  position:absolute;
  left:0px;
  top:188px;
  width:60px;
  height:52px;
}
#u1306 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u1307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u1307 {
  position:absolute;
  left:60px;
  top:188px;
  width:56px;
  height:52px;
}
#u1308 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u1309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u1309 {
  position:absolute;
  left:116px;
  top:188px;
  width:38px;
  height:52px;
}
#u1310 {
  position:absolute;
  left:2px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
#u1311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u1311 {
  position:absolute;
  left:154px;
  top:188px;
  width:38px;
  height:52px;
}
#u1312 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:52px;
}
#u1313 {
  position:absolute;
  left:192px;
  top:188px;
  width:77px;
  height:52px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  word-wrap:break-word;
}
#u1315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:52px;
}
#u1315 {
  position:absolute;
  left:269px;
  top:188px;
  width:72px;
  height:52px;
}
#u1316 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u1317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u1317 {
  position:absolute;
  left:341px;
  top:188px;
  width:68px;
  height:52px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u1319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:52px;
}
#u1319 {
  position:absolute;
  left:409px;
  top:188px;
  width:154px;
  height:52px;
}
#u1320 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  word-wrap:break-word;
}
#u1321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u1321 {
  position:absolute;
  left:563px;
  top:188px;
  width:140px;
  height:52px;
}
#u1322 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u1323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:52px;
}
#u1323 {
  position:absolute;
  left:703px;
  top:188px;
  width:40px;
  height:52px;
}
#u1324 {
  position:absolute;
  left:2px;
  top:18px;
  width:36px;
  word-wrap:break-word;
}
#u1325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u1325 {
  position:absolute;
  left:0px;
  top:240px;
  width:60px;
  height:52px;
}
#u1326 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u1327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u1327 {
  position:absolute;
  left:60px;
  top:240px;
  width:56px;
  height:52px;
}
#u1328 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u1329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u1329 {
  position:absolute;
  left:116px;
  top:240px;
  width:38px;
  height:52px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
#u1331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u1331 {
  position:absolute;
  left:154px;
  top:240px;
  width:38px;
  height:52px;
}
#u1332 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u1333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:52px;
}
#u1333 {
  position:absolute;
  left:192px;
  top:240px;
  width:77px;
  height:52px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  word-wrap:break-word;
}
#u1335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:52px;
}
#u1335 {
  position:absolute;
  left:269px;
  top:240px;
  width:72px;
  height:52px;
}
#u1336 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u1337 {
  position:absolute;
  left:341px;
  top:240px;
  width:68px;
  height:52px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u1339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:52px;
}
#u1339 {
  position:absolute;
  left:409px;
  top:240px;
  width:154px;
  height:52px;
}
#u1340 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  word-wrap:break-word;
}
#u1341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u1341 {
  position:absolute;
  left:563px;
  top:240px;
  width:140px;
  height:52px;
}
#u1342 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u1343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:52px;
}
#u1343 {
  position:absolute;
  left:703px;
  top:240px;
  width:40px;
  height:52px;
}
#u1344 {
  position:absolute;
  left:2px;
  top:18px;
  width:36px;
  word-wrap:break-word;
}
#u1345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u1345 {
  position:absolute;
  left:0px;
  top:292px;
  width:60px;
  height:52px;
}
#u1346 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u1347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u1347 {
  position:absolute;
  left:60px;
  top:292px;
  width:56px;
  height:52px;
}
#u1348 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u1349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u1349 {
  position:absolute;
  left:116px;
  top:292px;
  width:38px;
  height:52px;
}
#u1350 {
  position:absolute;
  left:2px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
#u1351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u1351 {
  position:absolute;
  left:154px;
  top:292px;
  width:38px;
  height:52px;
}
#u1352 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u1353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:52px;
}
#u1353 {
  position:absolute;
  left:192px;
  top:292px;
  width:77px;
  height:52px;
}
#u1354 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  word-wrap:break-word;
}
#u1355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:52px;
}
#u1355 {
  position:absolute;
  left:269px;
  top:292px;
  width:72px;
  height:52px;
}
#u1356 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u1357 {
  position:absolute;
  left:341px;
  top:292px;
  width:68px;
  height:52px;
}
#u1358 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u1359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:52px;
}
#u1359 {
  position:absolute;
  left:409px;
  top:292px;
  width:154px;
  height:52px;
}
#u1360 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  word-wrap:break-word;
}
#u1361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u1361 {
  position:absolute;
  left:563px;
  top:292px;
  width:140px;
  height:52px;
}
#u1362 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u1363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:52px;
}
#u1363 {
  position:absolute;
  left:703px;
  top:292px;
  width:40px;
  height:52px;
}
#u1364 {
  position:absolute;
  left:2px;
  top:18px;
  width:36px;
  word-wrap:break-word;
}
#u1365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u1365 {
  position:absolute;
  left:0px;
  top:344px;
  width:60px;
  height:52px;
}
#u1366 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u1367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u1367 {
  position:absolute;
  left:60px;
  top:344px;
  width:56px;
  height:52px;
}
#u1368 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u1369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u1369 {
  position:absolute;
  left:116px;
  top:344px;
  width:38px;
  height:52px;
}
#u1370 {
  position:absolute;
  left:2px;
  top:18px;
  width:34px;
  word-wrap:break-word;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:52px;
}
#u1371 {
  position:absolute;
  left:154px;
  top:344px;
  width:38px;
  height:52px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u1373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:52px;
}
#u1373 {
  position:absolute;
  left:192px;
  top:344px;
  width:77px;
  height:52px;
}
#u1374 {
  position:absolute;
  left:2px;
  top:18px;
  width:73px;
  word-wrap:break-word;
}
#u1375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:52px;
}
#u1375 {
  position:absolute;
  left:269px;
  top:344px;
  width:72px;
  height:52px;
}
#u1376 {
  position:absolute;
  left:2px;
  top:18px;
  width:68px;
  word-wrap:break-word;
}
#u1377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u1377 {
  position:absolute;
  left:341px;
  top:344px;
  width:68px;
  height:52px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u1379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:52px;
}
#u1379 {
  position:absolute;
  left:409px;
  top:344px;
  width:154px;
  height:52px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:18px;
  width:150px;
  word-wrap:break-word;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u1381 {
  position:absolute;
  left:563px;
  top:344px;
  width:140px;
  height:52px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u1383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:52px;
}
#u1383 {
  position:absolute;
  left:703px;
  top:344px;
  width:40px;
  height:52px;
}
#u1384 {
  position:absolute;
  left:2px;
  top:18px;
  width:36px;
  word-wrap:break-word;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1385 {
  position:absolute;
  left:583px;
  top:519px;
  width:63px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1386 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
